* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Medium Screen Breakpoint */

@media only screen and (max-width:767px) {
	.title-text {
		text-align: left !important;
		padding-left: 15px;
	}
	
	.work-img {
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	
	.work-title {
		text-align: left !important;
		display: inline;
	}
	
	.drop-item {
		margin-left: 10px;
	}
}

/* Small Screen Breakpoint */

@media only screen and (max-width: 510px) {
	
	h1 {
		font-size: 32px !important;
	}
	
	h2 {
		font-size: 18px !important;
	}
	
	h3 {
		font-size: 13px !important;
	}
	
	.work-img {
		float: none;
		margin-left: 5px;
	}
	
	.work-title {
		font-size: 20px;
	}
	
	.work-text {
		font-size: 15px;
		padding-left: 15px !important;
		padding-right:20% !important;
	}
	
	.featured-title {
		font-size: 25px !important;
	}
}

/* Default - Big screen */

.nav-root {
	padding: 0;
}

.navbar-container {
	padding: 0;
	margin: 0;
}

.work-title, 
.work-text {
	font-family: Lato;
}

.work-title {
	font-size: 25px;
	text-align: center;
}

.work-text {
	font-size: 20px;
	padding: 0 25px;
}

html, 
body {
	margin: 0;
	padding: 0;
}

.logo {
	width: 120px;
	height: 120px;
}

h1, 
h2 {
	font-family: Lato;
	padding-right: 10px;
	margin: 0;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 18px;
}

.splash-img {
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.title-text {
	text-align: right;
}

hr {
	margin: 0;
	border-width: 3px;
	color: black;
}

.featured-title {
	padding: 10px;
}

.footer-container {
	float: left;
}

.footer {
	margin-bottom: 0;
}

.navbar-text {
	margin-top: 15px !important;
}